{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'blog/danya.css' %}">
</head>
<body>

  <div>

    <table bgcolor="#ffffff" border="0" width="80%">
      <tbody>
      <tr>
      <td class="cl_head" colspan="5">НАЗВАНИЕ. ДАТА 14.88.2020</td>
      <td class="cl_head" colspan="5"></td>
      </tr>

      <tr>
      <td class="cl_td">JOPA8</td>
      <td class="cl_td">ОЧКО18</td>
      <td class="cl_td">ЗАЛУПКА</td>
      <td>БЛ1</td>
      <td>Qu-Zdarova/1</td>
      <td>ХЗ</td>
      <td class="cl_time">*19:00:00</td>
      <td>20:42:00</td>
      <td>  .  .  </td>
      <td>ЖОПА 19.10</td>
      </tr>

      <tr>
      <td class="cl_td">JOPA5</td>
      <td class="cl_td">ОЧКО15</td>
      <td class="cl_td">ЗАЛУПКА</td>
      <td>БЛ2</td>
      <td>Qu-Zdarova/2</td>
      <td>ХЗ</td>
      <td class="cl_time">*19:00:00</td>
      <td>20:42:00</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      <tr>
      <td class="cl_head" colspan="5">НАЗВАНИЕ. ДАТА: 27.10.2019:</td>
      <td class="cl_head" colspan="5"></td>
      </tr>

      <tr>
      <td class="cl_td">JOPA4</td>
      <td class="cl_td">ОЧКО14</td>
      <td class="cl_td"></td>
      <td>XYI3</td>
      <td>2/1</td>
      <td>ХЗ</td>
      <td>20:37:52</td>
      <td>20:47:58</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      <tr>
      <td class="cl_head" colspan="5">НАЗВАНИЕ. ДАТА: 27.10.2019:</td>
      <td class="cl_head" colspan="5">БОЛЬШОЙКЕК</td>
      </tr>

      <tr>
      <td class="cl_td">JOPA8</td>
      <td class="cl_td">ОЧКО18</td>
      <td class="cl_td">ЗАЛУПКА</td>
      <td>БЛ1</td>
      <td>Qu-Zdarova/1</td>
      <td>ХЗ</td>
      <td class="cl_time">*20:44:00</td>
      <td>22:10:00</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      <tr>
      <td class="cl_td">JOPA5</td>
      <td class="cl_td">ОЧКО15</td>
      <td class="cl_td">ЗАЛУПКА</td>
      <td>БЛ2</td>
      <td>Qu-Zdarova/2</td>
      <td>ХЗ</td>
      <td class="cl_time">*20:44:00</td>
      <td>22:10:00</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      <tr>
      <td class="cl_head" colspan="5">НАЗВАНИЕ. ДАТА: 27.10.2019:</td>
      <td class="cl_head" colspan="5"></td>
      </tr>

      <tr>
      <td class="cl_td">JOPA8</td>
      <td class="cl_td">ОЧКО18</td>
      <td class="cl_td">ЗАЛУПКА</td>
      <td>БЛ1</td>
      <td>Qu-Zdarova/1</td>
      <td>ХЗ</td>
      <td class="cl_time">*22:12:00</td>
      <td>23:47:00</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      <tr>
      <td class="cl_td"></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35/1</td>
      <td>ХЗ</td>
      <td>22:24:34</td>
      <td>22:35:04</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      <tr>
      <td class="cl_td">JOPA5</td>
      <td class="cl_td">ОЧКО15</td>
      <td class="cl_td">ЗАЛУПКА</td>
      <td>БЛ2</td>
      <td>Qu-Zdarova/2</td>
      <td>ХЗ</td>
      <td class="cl_time">*22:12:00</td>
      <td>23:47:00</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      <tr>
      <td class="cl_td"></td>
      <td></td>
      <td></td>
      <td></td>
      <td>35/2</td>
      <td>ХЗ</td>
      <td>22:24:34</td>
      <td>22:35:04</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      <tr>
      <td class="cl_td">JOPA6</td>
      <td class="cl_td">ОЧКО16</td>
      <td class="cl_td"></td>
      <td>ФФФ1</td>
      <td>35/3</td>
      <td>ХЗ</td>
      <td>22:24:34</td>
      <td>22:35:04</td>
      <td>  .  .  </td>
      <td></td>
      </tr>

      </tbody>
    </table>
  </div>

  </body>
</html>
